body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  color: white;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}
